<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add dep</title>
    <link rel="stylesheet" href="../CSS/arecord.css">
  
</head>

<body>
    <div id="menu">

    <form>
        <div class="input-container">
            <label for="doctype">Enter Document Type:</label>
            <input type="string" id="doctype" name="doctype" placeholder="Document Type"><br>
        </div>
        <div class="input-container">
            <label for="rname">Enter name of research project:</label>
            <input type="string" id="rname" name="rname" placeholder="Research project name"><br>
        </div>
        <div class="input-container">
            <label for="amt">Enter amount of rupees released:</label>
            <input type="string" id="amt" name="amt" placeholder="Amount(in rupees)"><br>
        </div>
        <div class="input-container">
            <label for="rname">Enter name of funding agency:</label>
            <input type="string" id="rname" name="rname" placeholder="Research project name"><br>
        </div>
        <div class="input-container">
            <label for="fname">Upload your file here:</label>
            <input type="file" id="real-file" hidden="hidden"/>
            <button type="button" id="custom-button" >Choose</button>
            <span id="custom-text">No file choosen</span>

            <script type="text/javascript">
                const realFileBtn=document.getElementById("real-file");
                const customBtn=document.getElementById("custom-button");
                const customTxt=document.getElementById("custom-text");

                customBtn.addEventListener("click", function(){
                    realFileBtn.click();
                });

                realFileBtn.addEventListener("change",function(){
                    if(realFileBtn.value)
                    {
                        customTxt.innerHTML=realFileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
                    }
                    else    
                        customTxt.innerHTML="No file choosen";
                })
            </script>
        </div>
        
        <button class="btn">Add</button>
        
    </form>
</div>
</body>
</html>