<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
    <script src="../js/checkAdmin.js"></script>
    <script src="../js/departmentremove.js"></script>
    <script src="../js/ajax.js"></script>
	<script src="../js/endpoints.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove</title>
    <link rel="stylesheet" href="../CSS/departmentremove.css">
</head>
<body>
    <div id="menu">
        <div class="input-container">
            <label for="departmentid">Enter Department Id:</label>
            <input type="text" id="departmentId" name="departmentpid" placeholder="Department Id"><br>
        </div>
        <button class="btn" id="departmentRemoveSubmitButtonID">Remove</button>
    </div>
  
    
    <script src="../js/sweetalert.js"></script>
</body>
</html>