<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/checkAuth.js"></script>
    <script src="../js/departmentadd.js"></script>
    <script src="../js/ajax.js"></script>
	<script src="../js/endpoints.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/departmentadd.css">
</head>
<body>
    <div id="menu">           
            <div class="input-container">
                <label for="teacherid">Enter Department Id:</label>
                <input type="text" id="departmentIdDepartmentAddId"  placeholder="Department Id"  autocomplete="nope"><br>
            </div>
            <div class="input-container">
                <label for="teacherdep">Enter Department Name:</label>
                <input type="text" id="deparmentNameDepartmentAddId" placeholder="Department Name"><br>
            </div>
            <div class="input-container">
                <label for="teacherpass">Enter Department Password:</label>
            <input type="password" id="passwordDepartmentAddId" placeholder="Password"  autocomplete="nope"><br>
            </div>
            <div class="input-container">
                <label for="conpass">Confirm Password:</label>
                <input type="password" id="confirmpassDepartmentAddId" placeholder="Confirm Password"><br>
        
            </div>
            <button class="btn" id='DepartmentAddSubmitButtonId'>Add</button>
    </div>
</body>
</html>