<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/checkTeacher.js"></script>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="../image/unnamed.png"><span class="font-weight-bold" id="sideNameProfile">name</span><span class="text-black-50" id="sideEmailProfile">jainbhavna4545@gmail.com</span><span> </span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2" >
                        <div  class="col-md-12"><label class="labels">Name</label>
                            <input id="adminName" type="text" class="form-control" placeholder="first name" value=""></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">PhoneNumber</label>
                            <input  id="adminPnumber" type="text" class="form-control" placeholder="enter phone number" value=""></div>
                        <div class="col-md-12"><label class="labels">Address</label>
                            <input  id="adminAdress" type="text" class="form-control" placeholder="enter address" value=""></div>
                        <div class="col-md-12"><label class="labels">Email ID</label>
                            <input  id="adminEmail" disabled type="text" class="form-control" placeholder="enter email id" value=""></div>
                        <div class="col-md-12"><label class="labels">Education</label>
                            <input  id="adminEducation" type="text" class="form-control" placeholder="education" value=""></div>
                        <div class="col-md-12"><label class="labels">Date of Birth</label>
                            <input  id="adminDateOfBirth" type="date" class="form-control" placeholder="Date of Birth" value=""></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">City</label>
                            <input  id="adminCity" type="text" class="form-control" placeholder="country" value=""></div>
                        <div class="col-md-6"><label class="labels">Pin Code</label>
                            <input  id="adminPinCode" type="text" class="form-control" value="" placeholder="state"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Country</label>
                            <input  id="adminCountry" type="text" class="form-control" placeholder="country" value=""></div>
                        <div class="col-md-6"><label class="labels">State/Region</label>
                            <input  id="adminState" type="text" class="form-control" value="" placeholder="state"></div>
                    </div>
                    <div   class="mt-5 text-center"><button  id="saveAdminProfile" class="btn btn-primary profile-button" type="button">Save Profile</button></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><span>Change Password</span></div><br>
                    <div class="col-md-12"><label class="labels">current Password</label><input type="password" class="form-control" placeholder="Current Password" value=""></div> <br>
                    <div class="col-md-12"><label class="labels">New Password</label><input type="password" class="form-control" placeholder="New Password" value=""></div><br>
                    <div class="col-md-12"><label class="labels">Confirm Password</label><input type="password" class="form-control" placeholder="Confirm Password" value=""></div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Change Password</button></div><br>
                    <div class="d-flex justify-content-between align-items-center experience"><span>External Links</span></div><br>
                    <div class="col-md-12"><label class="labels">Facebook Url</label><input type="text" class="form-control" placeholder="Paste Link here" value=""></div> <br>
                    <div class="col-md-12"><label class="labels">Twitter Url</label><input type="text" class="form-control" placeholder="Paste Link here" value=""></div><br>
                    <div class="col-md-12"><label class="labels">Linkedin Url</label><input type="text" class="form-control" placeholder="Paste Link here" value=""></div>
                
                </div>
            </div>
        </div>
    </div>  

</body>

<script src="../js/teachereditprofile.js"></script>
	<script src="../js/ajax.js"></script>
	<script src="../js/endpoints.js"></script>
</html>