<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc Hub</title>
    <link href="../CSS/style1.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Dancing+Script:wght@600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <nav id="navbar">
        <ul id="menubar">
            <div id="logo">
                <img src="../image/logo1.png" alt="logo" height="70px" width="70px">
            </div>
            <li class="menu"><a href="#">HOME</a></li>
            <li class="menu"><a href="#about">ABOUT</a></li>
            <li class="menu"><a href="#contact">CONTACT</a></li>
            <li class="menu"><a href="#faqs">FAQ'S</a></li>
        </ul>
    </nav>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="../image/book.jpg" width="100%" height="750px">
            <div class="ml1">Welcome to DOC HUB</div>
        </div>
        <div class="mySlides fade">
            <img src="../image/bv.jpeg" width="100%" height="750px">
            <div class="ml2">Banasthali Vidyapith</div>
        </div>
        <div class="mySlides fade">
            <img src="../image/record.jpeg" width="100%" height="750px">
            <div class="ml3">NO more paper work</div>
        </div>
        <div class="mySlides fade">
            <img src="../image/meeting2.jpg" width="100%" height="750px">
            <div class="ml4">Save your Documents here</div>
        </div>
    </div>
    <style>
        .ml1 {
            font-weight: 900;
            font-size: 3.5em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .ml1 .letter {
            display: inline-block;
            line-height: 1em;
        }

        .ml2 {
            color: maroon;
            font-weight: 900;
            font-size: 3.5em;
            position: absolute;
            top: 17%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-text-stroke: 1px white;
            -webkit-text-fill-color: maroon;
        }

        .ml2 .letter {
            display: inline-block;
            line-height: 1em;
        }

        .ml3 {
            font-weight: 900;
            font-size: 3.5em;
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .ml3 .letter {
            display: inline-block;
            line-height: 1em;
        }

        .ml4 {
            font-weight: 900;
            font-size: 3.5em;
            position: absolute;
            top: 22%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .ml4 .letter {
            display: inline-block;
            line-height: 1em;
        }
    </style>
    <br>
    <script>
        var slideIndex = 0;
        showSlides();
        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {
                slideIndex = 1
            }
            slides[slideIndex - 1].style.display = "block";
            setTimeout(showSlides, 10000);
        }
        var textWrapper = document.querySelector('.ml1');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({ loop: true })
            .add({
                targets: '.ml1 .letter',
                scale: [4, 1],
                opacity: [0, 1],
                translateZ: 0,
                easing: "easeOutExpo",
                duration: 950,
                delay: (el, i) => 70 * i
            }).add({
                targets: '.ml1',
                opacity: 0,
                duration: 1000,
                easing: "easeOutExpo",
                delay: 1000
            });
        var textWrapper = document.querySelector('.ml2');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({ loop: true })
            .add({
                targets: '.ml2 .letter',
                scale: [4, 1],
                opacity: [0, 1],
                translateZ: 0,
                easing: "easeOutExpo",
                duration: 950,
                delay: (el, i) => 70 * i
            }).add({
                targets: '.ml2',
                opacity: 0,
                duration: 1000,
                easing: "easeOutExpo",
                delay: 1000
            });
        var textWrapper = document.querySelector('.ml3');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({ loop: true })
            .add({
                targets: '.ml3 .letter',
                scale: [4, 1],
                opacity: [0, 1],
                translateZ: 0,
                easing: "easeOutExpo",
                duration: 950,
                delay: (el, i) => 70 * i
            }).add({
                targets: '.ml3',
                opacity: 0,
                duration: 1000,
                easing: "easeOutExpo",
                delay: 1000
            });
        var textWrapper = document.querySelector('.ml4');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({ loop: true })
            .add({
                targets: '.ml4 .letter',
                scale: [4, 1],
                opacity: [0, 1],
                translateZ: 0,
                easing: "easeOutExpo",
                duration: 950,
                delay: (el, i) => 70 * i
            }).add({
                targets: '.ml4',
                opacity: 0,
                duration: 1000,
                easing: "easeOutExpo",
                delay: 1000
            });
    </script>

    <div id="options">
        <a href="/adminLogin">
            <div class="box" id="box-1">
                <h2 id="secondary">Admin</h2>
                <img src="../image/admin.png" alt="Admin" height="50%">
                <p id="para"></p>
            </div>
        </a>
        <a href="/departmentLogin">
            <div class="box" id="box-2">
                <h2 id="secondary">Department</h2>
                <img src="../image/group.png" alt="Department" height="50%">
                <p id="para"></p>
            </div>
        </a>
        <a href="/teacherLogin">
            <div class="box" id="box-3">
                <h2 id="secondary">Teacher</h2>
                <img src="../image/teacher.png" alt="Teacher" height="50%">
                <p id="para"></p>
            </div>
        </a>
    </div>
    <div id="about">
        <h1 id="abt">About</h1>
        <div id="quote">
            <blockquote id="bq">
                Over the years the manual teacher's record management has been carried across most educational
                institutions all over India. To overcome the problems of manual record management, We have
                developed a “web-based Doc Hub”. Doc Hub is based on a web server, which can be implemented on
                any computer. This project is aimed at developing a “Doc Hub” that is of importance to either an
                educational institution or a college. As it will provide ideal support for all the actor’s i.e.
                Teachers, Admin, departments for better management when providing the facility to submit records
                of teacher's documents. It helps teachers and departments to maintain their records on a website
                without any manual paper-based work. The Admin and department
                can directly have the teacher's collection of all their documents through this website.
            </blockquote>
            <img src="../image/gf.gif" alt="about" style="width: 600px; height: 400px;">
        </div>
    </div>
    <div id="contact">
        <h1 id="con">Contact</h1>
        <div class="contain">
            <div id="quote1">
                <img src="../image/contact.gif" alt="contact">
            </div>
            <div class="imgcon">
                <div class="main">
                    <div>
                        <img src="../image/aaku.jpeg" alt="Avatar" class="img-circular">
                    </div>
                    <h3 class="name"> Aakriti </h3>
                    <p class="mail"> aakriti.ag98@gmail.com</p>
                </div>
                <div class="main">
                    <div>
                        <img src="../image/bhavna.jpeg" alt="Avatar" class="img-circular">
                    </div>
                    <h3 class="name"> Bhavna </h3>
                    <p class="mail"> jainbhavna4545@gmail.com </p>
                </div>
                <div class="main">
                    <div>
                        <img src="../image/kritika.jpeg" alt="Avatar" class="img-circular">
                    </div>
                    <h3 class="name"> Kritika </h3>
                    <p class="mail"> kritimishra16kv@gmail.com</p>
                </div>
                <div class="main">
                    <div>
                        <img src="../image/kiran.jpeg" alt="Avatar" class="img-circular"><br>
                    </div>
                    <h3 class="name"> Kiran </h3>
                    <p class="mail"> kkiranyyadav1998@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        function divcustumfldshow(id = "divcustumfld") {
            var state = document.getElementById("divcustumfld").style.display;
            if (state == 'block') {
                document.getElementById("divcustumfld").style.display = 'none';
            } else {
                document.getElementById("divcustumfld").style.display = 'block';
            }
        }
        function divcustumfld(id = "divcustum") {
            var state = document.getElementById("divcustum").style.display;
            if (state == 'block') {
                document.getElementById("divcustum").style.display = 'none';
            } else {
                document.getElementById("divcustum").style.display = 'block';
            }
        }
        function divcustum(id = "divcus") {
            var state = document.getElementById("divcus").style.display;
            if (state == 'block') {
                document.getElementById("divcus").style.display = 'none';
            } else {
                document.getElementById("divcus").style.display = 'block';
            }
        }
    </script>
    <div id="faqs">
        <h1 id="fq">FAQ's</h1>
        <div id="imgbut">
            <div id="buts">
                <button onclick="divcustumfldshow()" class="button">Why I can't register as an admin?</button>
                <div id="divcustumfld">
                    <blockquote>
                        You can't register as an admin because only authorized head of an institute can register.
                    </blockquote>
                </div><br><br><br>
                <button onclick="divcustumfld()" class="button">What is departmental id while logging in?</button>
                <div id="divcustum">
                    <blockquote>
                        Departmental id is a unique id provided by admin.
                    </blockquote>
                </div><br><br><br>
                <button onclick="divcustum()" class="button">Do we need to have always an unique id?</button>
                <div id="divcus">
                    <blockquote>
                        Yes, id must be unique.
                    </blockquote>
                </div><br><br><br>
            </div>
            <img src="../image/think.gif" alt="faq's" style="width: 600px; height: 400px;">
        </div>
    </div>
    <footer class="footer">
        <p>
            Copyright &copy 2021 Doc Hub. All rights reserved.
        </p>
    </footer>
</body>

</html>