<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add dep</title>
    <link rel="stylesheet" href="../CSS/publication.css">
  
</head>

<body>
    <div id="menu">

    <form>
        <div class="input-container">
            <label for="doctype">Enter Teacher ID:</label>
            <input type="string" id="doctype" name="doctype" placeholder="Teacher ID"><br>
        </div>
        <div class="input-container">
            <label for="jnature">Enter Journal nature:</label>
            <input type="string" id="jnature" name="jnature" placeholder="Journal nature"><br>
        </div>
        <div class="input-container">
            <label for="jtitle">Enter Journal title:</label>
            <input type="string" id="jtitle" name="jtitle" placeholder="Journal title"><br>
        </div>
        <div class="input-container">
            <label for="jname">Enter Journal Name:</label>
            <input type="string" id="jname" name="jname" placeholder="Journal name"><br>
        </div> 
        <div class="input-container">
            <label for="jdate">Enter Date of acceptance:</label>
            <input type="date" id="jdate" name="jdate" placeholder="Date of acceptance"><br>
        </div>    
        <button class="btn">Add</button>
        
    </form>
</div>
</body>
</html>