<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add book</title>
    <link rel="stylesheet" href="../CSS/teacherbook.css">
  
</head>

<body>
    <div class="box row">
        <div class="column" id="imaged">
            <img src="../image/addbooks.jpg" style="height:450px;width:400px; margin:70px 70px 70px 70px;">
        </div>
    
    <div class="menu column">

    <form>
       
        <!-- <div class="input-container">
            <label for="rname">Enter teacher id:</label>
            <input type="string" id="rname" name="rname" placeholder="Teacher id"><br>
        </div> -->
        <div class="input-container">
            <!-- <label for="btype">Enter book type</label> -->
            <select name="btype" id="btype">
                <option hidden > Book Type </option>
                <option value="Text" size=90>Text book  </option>
                <option value="Technical" size=90>Technical Book</option>
                <option value="Editedv" size=90>Edited Volumes</option>
                <option value="EditedB" size=90>Edited books</option>
                <option value="Chap" size=90>chapters in the book</option>
                <option value="Book" size=90>book review</option>
           </select><br>
        </div>
        <div class="input-container">
            <!-- <label for="bname">Enter title of Book:</label> -->
            <input type="string" id="bname" name="bname" placeholder="Book title"><br>
        </div>
        <div class="input-container">
            <!-- <label for="bauthor">Enter author name:</label> -->
            <input type="string" id="bauthor" name="bauthor" placeholder="Book author name"><br>
           

        </div>
        <div class="input-container">
            <!-- <label for="bpub">Enter publisher name:</label> -->
            <input type="string" id="bpub" name="bpub" placeholder="Book publisher name"><br>
           

        </div>
        <div class="input-container">
            <!-- <label for="bdate">Enter date of publication:</label> -->
            <input type="date" id="bdate" name="bdate" placeholder="Date of publication"><br>
           

        </div>
        <button class="btn">Add</button>
        
      
        
    </form>
</div>
</body>
</html>