<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../CSS/tyrecords.css" rel="stylesheet">
</head>

<body>
    <h1>Add your Documents</h1>
    <div class="box">
        <div class="box2">
        <a href="/adresearch"><div class="item" id="item-1">Research Project</div></a>
        <a href="/conference"><div class="item" id="item-2">Conference/Symposia/Workshop/Seminar</div></a>
        <a href="/publications"><div class="item" id="item-3">Publications</div></a>
        <a href="/teacherbook"><div class="item" id="item-4">Books</div></a>
        <a href="/academicaward"><div class="item" id="item-5">Academic Awards</div></a>
    </div>
    </div>
</body>
</html>