<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
    <html>
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc Hub</title>
    <link href="../CSS/arecord.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../js/sweetalert.js"></script>
    <script src="../js/checkDepart.js"></script>
    <script src="../js/department_generat_report.js"></script>
    <script src="../js/ajax.js"></script>
    <script src="../js/endpoints.js"></script>
    </head>
    <body>
    <div class="container">
    <h3 align="center">Record List </h3>
    <div class="row" id="recordDivParent">
      <div class="col-sm-4">
        <div class="card text-dark bg-light">
        <div class="card-header bg-dark text-center text-light"><h4>BOOK</h4></div>
          <div class="card-body ">

            <!--Starting list group here -->
                <div class="list-group"></a>
                 <span >Text Book</span>
                  <span >Data base Management system</span>
                  <span >Navathe</span>
                 <span >s&k group</span>
                <span >23 april 2000</span>     
             </div>
              <!--Ends here -->  
          </div>
          <div class="card-footer bg-secondary border-danger text-right">
          <a href="#" class="btn btn-info btn-sm">Delete</a> <a href="#" class="btn btn-success btn-sm">Edit</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card text-dark bg-light">
        <div class="card-header bg-dark text-center text-light"><h4>publication</h4></div>
          <div class="card-body ">

            <!--Starting list group here -->
                <div class="list-group"></a>
                 <span > A Type</span>
                  <span >Ai & ML</span>
                  <span >Dainik Jagran</span>
                <span >23 april 2000</span>     
             </div>
              <!--Ends here -->  
          </div>
          <div class="card-footer bg-secondary border-danger text-right">
          <a href="#" class="btn btn-info btn-sm">Delete</a> <a href="#" class="btn btn-success btn-sm">Edit</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card text-dark bg-light">
        <div class="card-header bg-dark text-center text-light"><h4>Seminar </h4></div>
          <div class="card-body ">

            <!--Starting list group here -->
                <div class="list-group"></a>
                 <span > Organized</span>
                  <span >Ai & ML</span>
                  <span >Banasthali</span>
                <span >23 april 2000</span> 
                <span >Hume kuch nhi aaata</span>    
             </div>
              <!--Ends here -->  
          </div>
          <div class="card-footer bg-secondary border-danger text-right">
          <a href="#" class="btn btn-info btn-sm">Delete</a> <a href="#" class="btn btn-success btn-sm">Edit</a>
          </div>
        </div>
      </div>
	   <div class="col-sm-4">
        <div class="card text-dark bg-light">
        <div class="card-header bg-dark text-center text-light"><h4>Conference </h4></div>
          <div class="card-body ">

            <!--Starting list group here -->
                <div class="list-group"></a>
                 <span > Participated</span>
                  <span >Ai & ML</span>
                  <span >Banasthali</span>
                <span >23 april 2000</span> 
                <span >Hume kuch nhi aaata</span>    
             </div>
              <!--Ends here -->  
          </div>
          <div class="card-footer bg-secondary border-danger text-right">
          <a href="#" class="btn btn-info btn-sm">Delete</a> <a href="#" class="btn btn-success btn-sm">Edit</a>
          </div>
        </div>
      </div>
	   <div class="col-sm-4">
        <div class="card text-dark bg-light">
        <div class="card-header bg-dark text-center text-light"><h4>Symposia</h4></div>
          <div class="card-body ">

            <!--Starting list group here -->
                <div class="list-group"></a>
                 <span > Participated</span>
                  <span >Ai & ML</span>
                  <span >Banasthali</span>
                <span >23 april 2000</span> 
                <span >Hume kuch nhi aaata</span>    
             </div>
              <!--Ends here -->  
          </div>
          <div class="card-footer bg-secondary border-danger text-right">
          <a href="#" class="btn btn-info btn-sm">Delete</a> <a href="#" class="btn btn-success btn-sm">Edit</a>
          </div>
        </div>
      </div>
	  <div class="col-sm-4">
        <div class="card text-dark bg-light">
        <div class="card-header bg-dark text-center text-light"><h4>Workshop</h4></div>
          <div class="card-body ">

            <!--Starting list group here -->
                <div class="list-group"></a>
                 <span > Participated</span>
                  <span >Ai & ML</span>
                  <span >Banasthali</span>
                <span >23 april 2000</span> 
                <span >Hume kuch nhi aaata</span>    
             </div>
              <!--Ends here -->  
          </div>
          <div class="card-footer bg-secondary border-danger text-right">
          <a href="#" class="btn btn-info btn-sm">Delete</a> <a href="#" class="btn btn-success btn-sm">Edit</a>
          </div>
        </div>
      </div>
    <div class="col-sm-4">
        <div class="card text-dark bg-light">
        <div class="card-header bg-dark text-center text-light"><h4>Research Project</h4></div>
          <div class="card-body ">

            <!--Starting list group here -->
                <div class="list-group"></a>
                 <span >AI &ML </span>
                  <span >DRDO</span>
                  <span >50k </span>   
             </div>
              <!--Ends here -->  
          </div>
          <div class="card-footer bg-secondary border-danger text-right">
          <a href="#" class="btn btn-info btn-sm">Delete</a> <a href="#" class="btn btn-success btn-sm">Edit</a>
          </div>
        </div>
      </div>
         <div class="col-sm-4">
        <div class="card text-dark bg-light">
        <div class="card-header bg-dark text-center text-light"><h4>Award</h4></div>
          <div class="card-body ">

            <!--Starting list group here -->
                <div class="list-group"></a>
                 <span >Best Teacher</span>
                  <span >23 may 2020</span>
                  <span >I was awarded best teacher among all the teachers of Banasthali</span>   
             </div>
              <!--Ends here -->  
          </div>
          <div class="card-footer bg-secondary border-danger text-right">
          <a href="#" class="btn btn-info btn-sm">Delete</a> <a href="#" class="btn btn-success btn-sm">Edit</a>
          </div>
        </div>
      </div> 	  
    </div>
    
    </body>
    </html>
    
    
</body>
</html>