body{
    background-image: url(../image/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    font-size: 40px;
}
.box
{
    width: 40%;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* display: flex;
    flex-direction: column; */
    border:2px solid #06314e;
    border-radius: 10%;  
    background-color: #d5e6f1;
    padding-top: 20px;
    /* align-content: center; */
}
.box2{
    margin-top: 55px;
    margin-left: 15px;
}
.item
{
    background-color: #06314e;
    color: white;
    border: 2px solid black;
    margin:40px 60px;
    padding:3px;
    width:70%;
    height: 3%;
    /* justify-content: center; */
    font-family:sans-serif;
    padding: 15px;
}
.box a{
    text-decoration: none;
    color: white;
}