body {
  background-image: url("../image/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  background-color: #0d77b6 !important;
  height: 60px;
}

.showLeft {
  background-color: #0d77b6 !important;
  border: 1px solid #0d77b6 !important;
  text-shadow: none !important;
  color: #fff !important;
  padding: 10px;
}

.icons li {
  background: none repeat scroll 0 0 #fff;
  height: 7px;
  width: 7px;
  line-height: 0;
  list-style: none outside none;
  margin-right: 15px;
  margin-top: 3px;
  vertical-align: top;
  border-radius: 50%;
  pointer-events: none;
}

.btn-left {
  left: 0.4em;
}

.btn-right {
  right: 0.4em;
}

.btn-left,
.btn-right {
  position: absolute;
  top: 0.24em;
}

.dropbtn {
  background-color: #4CAF50;
  position: fixed;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown {
  position: absolute;
  display: inline-block;
  right: 0.4em;
}

.dropdown-content {
  display: none;
  position: relative;
  margin-top: 60px;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #f1f1f1
}

.show {
  display: block;
}
#userimg{
  height: 40px;
  width: 40px;
}

ul.Nav2 {
  list-style-type:none;
  margin:0 auto;
  padding:0;
  overflow:hidden;
  width:auto;
  font-size: 30px;
}

ul.Nav2>li {
  float:right;
}

ul.Nav2 li a {
  font-family: 'Roboto', sans-serif;
  font-size:30px;
  color:black;
  display:block;
  width:160px;
  height:40px;
  line-height:40px;
  background-color:rgb(216, 242, 247);
  text-align:left;
  text-decoration:none;
  padding:0px 0px;
  -o-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
}

ul.Nav2 li a:hover {
  opacity:1;
  color: white;
}

ul.Nav2 ul {
  list-style:none;
  position:absolute;
  left:-9999px;
  text-align:right;
  float:right;
  display: block;
  padding:0;
  min-width:9.3ex;
}

ul.Nav2 ul li {
  padding-top:1px;
  float:none;
}

ul.Nav2 ul a {
  white-space:nowrap;
}

ul.Nav2 li:hover ul {
  left:inherit;
}

ul.Nav2 li:hover a {
  background:#115285;
  text-decoration:none;
}

ul.Nav2 li:hover ul a { 
  text-decoration:none;
}
h1{
    color:black;
    text-align: center;
    font-size: 50px;
}
#options1{
  display: flex;
  margin-right: 100px;
  margin-top: 70px;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
#options2{
  display: flex;
  margin-right: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center; 
}
#options1 a{
  text-decoration: none;
}
#options2 a{
  text-decoration: none;
}

.box{
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  justify-content: center;
  align-items: center;
  
}
.cardClass{
text-align: center;
padding: 5%;
}

#box-1{
  
 background-color:white;
}
#box-2{
  
  background-color:white;
}
#box-3{
 
  background-color: white;

}
#secondary{
  color: black;
}
.form-input{
margin-left: 10px;

}
#searchButtonId{
  background-color: rgb(0 23 72);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 85px;
  height: 40px;
  opacity: 0.9;
  color: white;
  font-size: 20px;
  margin-top: 10px;
}
#searchButtonId:hover{
background-color: black;
}